/* ic_nation */
.ic_nation {display:inline-block; width:20px; height:13px; border:1px solid #ececec; vertical-align:top;}
.ic_nation_dashboard {display:inline-block; width:20px; height:13px; border:1px solid #ececec;}
.nation_ad	{background:url(../images/flag/ad.png) no-repeat;}
.nation_ae	{background:url(../images/flag/ae.png) no-repeat;}
.nation_af	{background:url(../images/flag/af.png) no-repeat;}
.nation_ag	{background:url(../images/flag/ag.png) no-repeat;}
.nation_ai 	{background:url(../images/flag/ai.png) no-repeat;}
.nation_al	{background:url(../images/flag/al.png) no-repeat;}
.nation_am	{background:url(../images/flag/am.png) no-repeat;}
.nation_an 	{background:url(../images/flag/an.png) no-repeat;}
.nation_ao	{background:url(../images/flag/ao.png) no-repeat;}
.nation_aq	{background:url(../images/flag/aq.png) no-repeat;}
.nation_ar	{background:url(../images/flag/ar.png) no-repeat;}
.nation_as	{background:url(../images/flag/as.png) no-repeat;}
.nation_at 	{background:url(../images/flag/at.png) no-repeat;}
.nation_au	{background:url(../images/flag/au.png) no-repeat;}
.nation_aw	{background:url(../images/flag/aw.png) no-repeat;}
.nation_ax	{background:url(../images/flag/ax.png) no-repeat;}
.nation_az	{background:url(../images/flag/az.png) no-repeat;}
.nation_ba	{background:url(../images/flag/ba.png) no-repeat;}
.nation_bb	{background:url(../images/flag/bb.png) no-repeat;}
.nation_bd	{background:url(../images/flag/bd.png) no-repeat;}
.nation_be	{background:url(../images/flag/be.png) no-repeat;}
.nation_bf	{background:url(../images/flag/bf.png) no-repeat;}
.nation_bg	{background:url(../images/flag/bg.png) no-repeat;}
.nation_bh	{background:url(../images/flag/bh.png) no-repeat;}
.nation_bi	{background:url(../images/flag/bi.png) no-repeat;}
.nation_bj	{background:url(../images/flag/bj.png) no-repeat;}
.nation_bl	{background:url(../images/flag/bl.png) no-repeat;}
.nation_bm	{background:url(../images/flag/bm.png) no-repeat;}
.nation_bn	{background:url(../images/flag/bn.png) no-repeat;}
.nation_bo	{background:url(../images/flag/bo.png) no-repeat;}
.nation_bq	{background:url(../images/flag/bq.png) no-repeat;}
.nation_br	{background:url(../images/flag/br.png) no-repeat;}
.nation_bs	{background:url(../images/flag/bs.png) no-repeat;}
.nation_bt	{background:url(../images/flag/bt.png) no-repeat;}
.nation_bv	{background:url(../images/flag/bv.png) no-repeat;}
.nation_bw	{background:url(../images/flag/bw.png) no-repeat;}
.nation_by	{background:url(../images/flag/by.png) no-repeat;}
.nation_bz	{background:url(../images/flag/bz.png) no-repeat;}
.nation_ca	{background:url(../images/flag/ca.png) no-repeat;}
.nation_cc	{background:url(../images/flag/cc.png) no-repeat;}
.nation_cd	{background:url(../images/flag/cd.png) no-repeat;}
.nation_cf		{background:url(../images/flag/cf.png) no-repeat;}
.nation_cg	{background:url(../images/flag/cg.png) no-repeat;}
.nation_ch	{background:url(../images/flag/ch.png) no-repeat;}
.nation_ci		{background:url(../images/flag/ci.png) no-repeat;}
.nation_ck	{background:url(../images/flag/ck.png) no-repeat;}
.nation_cl		{background:url(../images/flag/cl.png) no-repeat;}
.nation_cm	{background:url(../images/flag/cm.png) no-repeat;}
.nation_cn	{background:url(../images/flag/cn.png) no-repeat;}
.nation_co	{background:url(../images/flag/co.png) no-repeat;}
.nation_cr	{background:url(../images/flag/cr.png) no-repeat;}
.nation_cu	{background:url(../images/flag/cu.png) no-repeat;}
.nation_cv	{background:url(../images/flag/cv.png) no-repeat;}
.nation_cw	{background:url(../images/flag/cw.png) no-repeat;}
.nation_cx	{background:url(../images/flag/cx.png) no-repeat;}
.nation_cy	{background:url(../images/flag/cy.png) no-repeat;}
.nation_cz	{background:url(../images/flag/cz.png) no-repeat;}
.nation_de	{background:url(../images/flag/de.png) no-repeat;}
.nation_dj	{background:url(../images/flag/dj.png) no-repeat;}
.nation_dk	{background:url(../images/flag/dk.png) no-repeat;}
.nation_dm	{background:url(../images/flag/dm.png) no-repeat;}
.nation_do	{background:url(../images/flag/do.png) no-repeat;}
.nation_dz	{background:url(../images/flag/dz.png) no-repeat;}
.nation_ec	{background:url(../images/flag/ec.png) no-repeat;}
.nation_ee	{background:url(../images/flag/ee.png) no-repeat;}
.nation_eg	{background:url(../images/flag/eg.png) no-repeat;}
.nation_eh	{background:url(../images/flag/eh.png) no-repeat;}
.nation_er	{background:url(../images/flag/er.png) no-repeat;}
.nation_es	{background:url(../images/flag/es.png) no-repeat;}
.nation_et	{background:url(../images/flag/et.png) no-repeat;}
.nation_fi	{background:url(../images/flag/fi.png) no-repeat;}
.nation_fj 	{background:url(../images/flag/fj.png) no-repeat;}
.nation_fk 	{background:url(../images/flag/fk.png) no-repeat;}
.nation_fm 	{background:url(../images/flag/fm.png) no-repeat;}
.nation_fo 	{background:url(../images/flag/fo.png) no-repeat;}
.nation_fr 	{background:url(../images/flag/fr.png) no-repeat;}
.nation_ga 	{background:url(../images/flag/ga.png) no-repeat;}
.nation_gb 	{background:url(../images/flag/gb.png) no-repeat;}
.nation_gd 	{background:url(../images/flag/gd.png) no-repeat;}
.nation_ge 	{background:url(../images/flag/ge.png) no-repeat;}
.nation_gf 	{background:url(../images/flag/gf.png) no-repeat;}
.nation_gg 	{background:url(../images/flag/gg.png) no-repeat;}
.nation_gh 	{background:url(../images/flag/gh.png) no-repeat;}
.nation_gi 	{background:url(../images/flag/gi.png) no-repeat;}
.nation_gl 	{background:url(../images/flag/gl.png) no-repeat;}
.nation_gm 	{background:url(../images/flag/gm.png) no-repeat;}
.nation_gn 	{background:url(../images/flag/gn.png) no-repeat;}
.nation_gp	{background:url(../images/flag/gp.png) no-repeat;}
.nation_gq	{background:url(../images/flag/gq.png) no-repeat;}
.nation_gr	{background:url(../images/flag/gr.png) no-repeat;}
.nation_gs	{background:url(../images/flag/gs.png) no-repeat;}
.nation_gt	{background:url(../images/flag/gt.png) no-repeat;}
.nation_gu	{background:url(../images/flag/gu.png) no-repeat;}
.nation_gw	{background:url(../images/flag/gw.png) no-repeat;}
.nation_gy	{background:url(../images/flag/gy.png) no-repeat;}
.nation_hk	{background:url(../images/flag/hk.png) no-repeat;}
.nation_hm 	{background:url(../images/flag/hm.png) no-repeat;}
.nation_hn 	{background:url(../images/flag/hn.png) no-repeat;}
.nation_hr 	{background:url(../images/flag/hr.png) no-repeat;}
.nation_ht 	{background:url(../images/flag/ht.png) no-repeat;}
.nation_hu 	{background:url(../images/flag/hu.png) no-repeat;}
.nation_id	{background:url(../images/flag/id.png) no-repeat;}
.nation_ie	{background:url(../images/flag/ie.png) no-repeat;}
.nation_il	{background:url(../images/flag/il.png) no-repeat;}
.nation_im	{background:url(../images/flag/im.png) no-repeat;}
.nation_in	{background:url(../images/flag/in.png) no-repeat;}
.nation_io	{background:url(../images/flag/io.png) no-repeat;}
.nation_iq	{background:url(../images/flag/iq.png) no-repeat;}
.nation_ir	{background:url(../images/flag/ir.png) no-repeat;}
.nation_is	{background:url(../images/flag/is.png) no-repeat;}
.nation_it	{background:url(../images/flag/it.png) no-repeat;}
.nation_je	{background:url(../images/flag/je.png) no-repeat;}
.nation_jm 	{background:url(../images/flag/jm.png) no-repeat;}
.nation_jo 	{background:url(../images/flag/jo.png) no-repeat;}
.nation_jp 	{background:url(../images/flag/jp.png) no-repeat;}
.nation_ke 	{background:url(../images/flag/ke.png) no-repeat;}
.nation_kg 	{background:url(../images/flag/kg.png) no-repeat;}
.nation_kh 	{background:url(../images/flag/kh.png) no-repeat;}
.nation_ki 	{background:url(../images/flag/ki.png) no-repeat;}
.nation_km 	{background:url(../images/flag/km.png) no-repeat;}
.nation_kn 	{background:url(../images/flag/kn.png) no-repeat;}
.nation_kp 	{background:url(../images/flag/kp.png) no-repeat;}
.nation_kr 	{background:url(../images/flag/kr.png) no-repeat;}
.nation_kw 	{background:url(../images/flag/kw.png) no-repeat;}
.nation_ky	{background:url(../images/flag/ky.png) no-repeat;}
.nation_kz 	{background:url(../images/flag/kz.png) no-repeat;}
.nation_la 	{background:url(../images/flag/la.png) no-repeat;}
.nation_lb 	{background:url(../images/flag/lb.png) no-repeat;}
.nation_lc 	{background:url(../images/flag/lc.png) no-repeat;}
.nation_li	{background:url(../images/flag/li.png) no-repeat;}
.nation_lk 	{background:url(../images/flag/lk.png) no-repeat;}
.nation_lr 	{background:url(../images/flag/lr.png) no-repeat;}
.nation_ls 	{background:url(../images/flag/ls.png) no-repeat;}
.nation_lt 	{background:url(../images/flag/lt.png) no-repeat;}
.nation_lu 	{background:url(../images/flag/lu.png) no-repeat;}
.nation_lv 	{background:url(../images/flag/lv.png) no-repeat;}
.nation_ly 	{background:url(../images/flag/ly.png) no-repeat;}
.nation_ma 	{background:url(../images/flag/ma.png) no-repeat;}
.nation_mc 	{background:url(../images/flag/mc.png) no-repeat;}
.nation_md 	{background:url(../images/flag/md.png) no-repeat;}
.nation_me 	{background:url(../images/flag/me.png) no-repeat;}
.nation_mf 	{background:url(../images/flag/mf.png) no-repeat;}
.nation_mg 	{background:url(../images/flag/mg.png) no-repeat;}
.nation_mh 	{background:url(../images/flag/mh.png) no-repeat;}
.nation_mk 	{background:url(../images/flag/mk.png) no-repeat;}
.nation_ml 	{background:url(../images/flag/ml.png) no-repeat;}
.nation_mm 	{background:url(../images/flag/mm.png) no-repeat;}
.nation_mn 	{background:url(../images/flag/mn.png) no-repeat;}
.nation_mo 	{background:url(../images/flag/mo.png) no-repeat;}
.nation_mp 	{background:url(../images/flag/mp.png) no-repeat;}
.nation_mq 	{background:url(../images/flag/mq.png) no-repeat;}
.nation_mr 	{background:url(../images/flag/mr.png) no-repeat;}
.nation_ms 	{background:url(../images/flag/ms.png) no-repeat;}
.nation_mt 	{background:url(../images/flag/mt.png) no-repeat;}
.nation_mu 	{background:url(../images/flag/mu.png) no-repeat;}
.nation_mv 	{background:url(../images/flag/mv.png) no-repeat;}
.nation_mw 	{background:url(../images/flag/mw.png) no-repeat;}
.nation_mx 	{background:url(../images/flag/mx.png) no-repeat;}
.nation_my 	{background:url(../images/flag/my.png) no-repeat;}
.nation_mz 	{background:url(../images/flag/mz.png) no-repeat;}
.nation_na 	{background:url(../images/flag/na.png) no-repeat;}
.nation_nc 	{background:url(../images/flag/nc.png) no-repeat;}
.nation_ne 	{background:url(../images/flag/ne.png) no-repeat;}
.nation_nf 	{background:url(../images/flag/nf.png) no-repeat;}
.nation_ng 	{background:url(../images/flag/ng.png) no-repeat;}
.nation_ni	{background:url(../images/flag/ni.png) no-repeat;}
.nation_nl	{background:url(../images/flag/nl.png) no-repeat;}
.nation_no	{background:url(../images/flag/no.png) no-repeat;}
.nation_np	{background:url(../images/flag/np.png) no-repeat;}
.nation_nr	{background:url(../images/flag/nr.png) no-repeat;}
.nation_nu	{background:url(../images/flag/nu.png) no-repeat;}
.nation_nz	{background:url(../images/flag/nz.png) no-repeat;}
.nation_om	{background:url(../images/flag/om.png) no-repeat;}
.nation_pa	{background:url(../images/flag/pa.png) no-repeat;}
.nation_pe	{background:url(../images/flag/pe.png) no-repeat;}
.nation_pf	{background:url(../images/flag/pf.png) no-repeat;}
.nation_pg	{background:url(../images/flag/pg.png) no-repeat;}
.nation_ph	{background:url(../images/flag/ph.png) no-repeat;}
.nation_pk	{background:url(../images/flag/pk.png) no-repeat;}
.nation_pl	{background:url(../images/flag/pl.png) no-repeat;}
.nation_pm 	{background:url(../images/flag/pm.png) no-repeat;}
.nation_pn	{background:url(../images/flag/pn.png) no-repeat;}
.nation_pr	{background:url(../images/flag/pr.png) no-repeat;}
.nation_ps	{background:url(../images/flag/ps.png) no-repeat;}
.nation_pt	{background:url(../images/flag/pt.png) no-repeat;}
.nation_pw	{background:url(../images/flag/pw.png) no-repeat;}
.nation_py	{background:url(../images/flag/py.png) no-repeat;}
.nation_qa	{background:url(../images/flag/qa.png) no-repeat;}
.nation_re	{background:url(../images/flag/re.png) no-repeat;}
.nation_ro	{background:url(../images/flag/ro.png) no-repeat;}
.nation_rs	{background:url(../images/flag/rs.png) no-repeat;}
.nation_ru	{background:url(../images/flag/ru.png) no-repeat;}
.nation_rw	{background:url(../images/flag/rw.png) no-repeat;}
.nation_sa	{background:url(../images/flag/sa.png) no-repeat;}
.nation_sb	{background:url(../images/flag/sb.png) no-repeat;}
.nation_sc	{background:url(../images/flag/sc.png) no-repeat;}
.nation_sd	{background:url(../images/flag/sd.png) no-repeat;}
.nation_se	{background:url(../images/flag/se.png) no-repeat;}
.nation_sg	{background:url(../images/flag/sg.png) no-repeat;}
.nation_sh 	{background:url(../images/flag/sh.png) no-repeat;}
.nation_si	{background:url(../images/flag/si.png) no-repeat;}
.nation_sj	{background:url(../images/flag/sj.png) no-repeat;}
.nation_sk	{background:url(../images/flag/sk.png) no-repeat;}
.nation_sl	{background:url(../images/flag/sl.png) no-repeat;}
.nation_sm	{background:url(../images/flag/sm.png) no-repeat;}
.nation_sn	{background:url(../images/flag/sn.png) no-repeat;}
.nation_so	{background:url(../images/flag/so.png) no-repeat;}
.nation_sr	{background:url(../images/flag/sr.png) no-repeat;}
.nation_ss	{background:url(../images/flag/ss.png) no-repeat;}
.nation_st	{background:url(../images/flag/st.png) no-repeat;}
.nation_sv	{background:url(../images/flag/sv.png) no-repeat;}
.nation_sx	{background:url(../images/flag/sx.png) no-repeat;}
.nation_sy	{background:url(../images/flag/sy.png) no-repeat;}
.nation_sz	{background:url(../images/flag/sz.png) no-repeat;}
.nation_tc	{background:url(../images/flag/tc.png) no-repeat;}
.nation_td	{background:url(../images/flag/td.png) no-repeat;}
.nation_tf	{background:url(../images/flag/tf.png) no-repeat;}
.nation_tg	{background:url(../images/flag/tg.png) no-repeat;}
.nation_th	{background:url(../images/flag/th.png) no-repeat;}
.nation_tj	{background:url(../images/flag/tj.png) no-repeat;}
.nation_tk	{background:url(../images/flag/tk.png) no-repeat;}
.nation_tl	{background:url(../images/flag/tl.png) no-repeat;}
.nation_tm	{background:url(../images/flag/tm.png) no-repeat;}
.nation_tn	{background:url(../images/flag/tn.png) no-repeat;}
.nation_to	{background:url(../images/flag/to.png) no-repeat;}
.nation_tr	{background:url(../images/flag/tr.png) no-repeat;}
.nation_tt	{background:url(../images/flag/tt.png) no-repeat;}
.nation_tv	{background:url(../images/flag/tv.png) no-repeat;}
.nation_tw	{background:url(../images/flag/tw.png) no-repeat;}
.nation_tz	{background:url(../images/flag/tz.png) no-repeat;}
.nation_ua	{background:url(../images/flag/ua.png) no-repeat;}
.nation_ug	{background:url(../images/flag/ug.png) no-repeat;}
.nation_um	{background:url(../images/flag/um.png) no-repeat;}
.nation_us	{background:url(../images/flag/us.png) no-repeat;}
.nation_uy	{background:url(../images/flag/uy.png) no-repeat;}
.nation_uz	{background:url(../images/flag/uz.png) no-repeat;}
.nation_va	{background:url(../images/flag/va.png) no-repeat;}
.nation_vc	{background:url(../images/flag/vc.png) no-repeat;}
.nation_ve	{background:url(../images/flag/ve.png) no-repeat;}
.nation_vg	{background:url(../images/flag/vg.png) no-repeat;}
.nation_vi	{background:url(../images/flag/vi.png) no-repeat;}
.nation_vn	{background:url(../images/flag/vn.png) no-repeat;}
.nation_vu	{background:url(../images/flag/vu.png) no-repeat;}
.nation_wf	{background:url(../images/flag/wf.png) no-repeat;}
.nation_ws	{background:url(../images/flag/ws.png) no-repeat;}
.nation_xk	{background:url(../images/flag/xk.png) no-repeat;}
.nation_ye	{background:url(../images/flag/ye.png) no-repeat;}
.nation_yt	{background:url(../images/flag/yt.png) no-repeat;}
.nation_za	{background:url(../images/flag/za.png) no-repeat;}
.nation_zm	{background:url(../images/flag/zm.png) no-repeat;}
.nation_zw	{background:url(../images/flag/zw.png) no-repeat;}
.nation_local	{background:url(../images/flag/local.png) no-repeat;}
.nation_private	{background:url(../images/flag/private.png) no-repeat;}
.nation_unknown	{background:url(../images/flag/unknown.png) no-repeat;}